.body, html {
    margin: 0;
    padding: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    font-size: 20px;
}

.nav_item {
    padding: 0 5px;
    color: aquamarine;
    font-weight: 600;
}

.header {
    background-color: aquamarine;
    font-size: 50px;
    font-weight: 900;
    color: white;
    width: 100%;
    min-height: 70px;
}

.footer {

}

.form_field_block {
    display: flex;
    flex-direction: column;
}

.form_field {
    margin: 5px;
    padding: 5px;
    font-size: 15px;
}

.form_button {
    border: none;
    background-color: aquamarine;
    color: white;
    font-weight: 600;
    min-width: 90%;
    overflow: hidden;
}

.form_label {
    margin-left: 5px;
    align-self: start;
}

.not_validate_field_form {
    color: red;
    font-size: 10px;
    min-height: 16px;
}

.game_content {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 310px;
    gap: 5px;
    padding: 10px;
}

.game_field {
    width: 90px;
    height: 90px;
    border: 5px solid white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}